<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GroupProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GroupProject.Properties.Settings>
            <setting name="BackgroundImage" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>Sienna</value>
            </setting>
        </GroupProject.Properties.Settings>
    </userSettings>
</configuration>